<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <ini name="max_execution_time" value="42" />
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./boost/unit-tests/</directory>
            <directory>./unit-tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
